<%- include('partials/header') -%>

<div class="container mt-5">
  <div class="row">
    <h5>Profile</h5>
    <br><br>
    <div class="col-md-6">
        <h4>Add a Recipe</h4>
        <form action="/recipe/createRecipe" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="title" name="name">
          </div>
          <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients</label>
            <textarea class="form-control" id="ingredients" name="ingredients" placeholder="Please enter each ingredient on a new line"></textarea>
          </div>
          <div class="mb-3">
            <label for="directions" class="form-label">Directions</label>
            <textarea class="form-control" id="directions" name="directions" placeholder="Please enter each step on a new line"></textarea>
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <button type="submit" class="btn btn-secondary" value="Upload">Add a Recipe</button>
        </form>
      
    </div>

    <div class="col-md-6 mt-4 mt-md-0">
      <h4 class="mb-3">My Recipes</h4>
      <div id="masonry-gallery" class="row justify-content-center">
        <% for(var i=0; i<recipes.length; i++) { %>
          <div class="recipe-card col-md-12 mb-4">
            <h4><%= recipes[i].name %></h4>
            <a href="/recipe/<%= recipes[i]._id %>">
              <img class="img-fluid rounded gallery-image" src="<%= recipes[i].image %>" alt="<%= recipes[i].name %>">
              <p class="underthepic">Click the pic for full Ingredient List and Directions</p>
              <p class="text-truncate">Ingredients: <%= recipes[i].ingredients %></p>
              <p class="text-truncate">Directions: <%= recipes[i].directions %></p>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Buttons Section -->
  <div class="container-fluid d-flex justify-content-center col-sm-6 col-md-2 mx-auto button-container mt-4">
    <!-- First button (Favorites) -->
    <a class="btn btn-secondary" href="/profile">Profile</a>
    <a class="btn btn-secondary" href="/favorites">Favorites</a>
  </div>
</div>

<%- include('partials/footer') -%>
